* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #000000;
}

#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.status-bar                { background: #263238; }
.very-dark-primary-color   { background: #37474F; }
.dark-primary-color        { background: #455A64; }
.default-primary-color     { background: #607D8B; }
.light-primary-color       { background: #CFD8DC; }
.text-primary-color        { color: #FFFFFF; }
.accent-color              { background: #4CAF50; }
.primary-text-color        { color: #212121; }
.secondary-text-color      { color: #727272; }
.divider-color             { border-color: #B6B6B6; }
